* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/Rubiv2.png);
    background-repeat: no-repeat;
    background-position: bottom 50px left 100px;
    background-size: 0%;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 16px;
    
}

.container {
    width: 45vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
}

.chatbox {
    width: 50%;
    height: 775px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    background: rgb(255, 255, 255);
    
   
}

.header {
    background: #5e5c5b;
    padding: 20px;
    color: aliceblue;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(9, 244, 213);
    font-size: 20px;
}

.avail {
    font-size: 12px;
    padding: 0 20px;
    padding-right: 30px;
}

.avail::after {
    content: "";
    display: inline-block;
    background: rgb(4, 180, 4);
    width: 10px;
    height: 10px;
    margin: 0 3px;
    vertical-align: middle;
    border-radius: 50%;
}

.body {
    background: rgb(180, 181, 181);
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: rgb(9, 244, 213);
    overflow-y: auto;
    border-radius: 15px;

}

input {
    height: 50px;
    width: 100%;
}

input[type="text"] {
    padding: 0 10px;
}

input[type="submit"] {
    height: 25px;
    border: 0;
    background: #000000;
    font-weight: 500;
    font-size: 17px;
    color: aliceblue;
    cursor: pointer;
}

.visible {
    display: block;
}

.none {
    display: none;
}

.me {
    color: rgb(0, 0, 0);
    font-family: cursive;
    width: 55%;
    height: auto;
    padding: 10px;
    margin: 5px;
    background-color: #d0f8fa;
    border-radius: 10px;
    float: right;
    text-align: right;
    display: block;
}

.alicia {
    color: rgb(255, 255, 255);
    font-family: cursive;
    width: 60%;
    height: auto;
    padding: 10px;
    margin: 5px;
    background-color: rgb(108, 106, 106);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    float: left;
    text-align: left;
    display: block;
}

.imgRedonda {
    width: 40px;
    height: 40px;
    border-radius: 150px;
}

.creador {
    background-color: rgb(87, 20, 220);
    color: aliceblue;
    font-size: 16px;
    border-radius: 10px;
    height: 20px;
    width: 80px
    
}